Repository AxaGuilDEv/Skizzle, pull requests merged in 2020-10, with the labels that each got.

#80 fix(lang): change many english expression, and fix label on filter list
  public/assets/langs/en.json
  public/assets/langs/fr.json
  src/components/ListHeader/ListHeader.svelte
  src/components/MainView/MainView.svelte
  src/components/Select/Select.scss
  src/components/Settings/SettingsLanguage.svelte
Labels: component, svelte

#85 feat(auto update): disable for macOS
  public/electron.js
Labels: bug, configuration, javascript

#86 fix(pull request): button for comments display
  src/components/CommentsCounter/CommentsCounter.scss
  src/components/CommentsCounter/CommentsCounter.svelte
  src/components/Pullrequest/Pullrequest.svelte
Labels: bug, component, svelte

#87 Fix/ui
  src/components/Settings/Settings.scss
  src/components/Tag/Tag.scss
Labels: bug

#88 Feature/event
  src/components/GhostAvatar/GhostAvatar.svelte
  src/components/GhostAvatar/index.js
  src/components/Profile/Profile.scss
  src/components/Profile/Profile.svelte
  src/components/PumpkinLoader/PumpkinLoader.svelte
  src/components/PumpkinLoader/index.js
  src/layouts/Home/Home.svelte
  src/shared/store.ts
Labels: component, configuration, javascript, svelte, typescript
