Repository AxaGuilDEv/Skizzle, pull requests merged in 2021-12, with the labels that each got.

#128 refactor(electron): remove the fetching get token from electron
  .github/workflows/build.yml
  docs/index.html
  package-lock.json
  package.json
  public/index.html
  public/preload.js
  src/App.svelte
  src/components/AddAccount/AddAccount.svelte
  src/components/Comment/Comment.svelte
  src/components/CustomListSettings/CustomListSettings.svelte
  src/components/ErrorBoundary/ErrorBoundary.svelte
  src/components/Main/Main.svelte
  src/components/Settings/Settings.svelte
  src/components/TagInput/TagInput.svelte
  src/components/icons/Check.svelte
  src/components/icons/Delete.svelte
  src/config.ts
  src/electron/OAuthWindow.ts
  src/electron/electron.ts
  src/electron/requester.ts
  src/models/skizzle/FetchMethodEnum.ts
  src/models/skizzle/ReviewType.ts
  src/models/skizzle/index.ts
  src/providers/OAuthAzureDevOpsConfig.provider.ts
  src/providers/OAuthConfig.provider.ts
  src/providers/OAuthGithubConfig.provider.ts
  src/requesters/OAuthAzureDevOps.requester.ts
  src/requesters/OAuthGithub.requester.ts
  src/requesters/Requester.ts
  src/shared/remote.ts
  src/shared/stores/default.store.ts
  src/shared/stores/store.ts
  src/shared/token.ts
  src/shared/utils.ts
  src/tests/mocks/setup.ts
  src/window.d.ts
Labels: dependencies, svelte, component, configuration, javascript, typescript

#129 refactor(fetch): adding cache for many request, and delete projects calls for azure
  package.json
  src/components/SearchResults/SearchResults.svelte
  src/components/Settings/Settings.svelte
  src/config.ts
  src/electron/OAuthWindow.ts
  src/mappers/Project.mapper.ts
  src/mappers/Repository.mapper.ts
  src/mappers/index.ts
  src/models/api/RepositoriesApiType.ts
  src/models/skizzle/HeaderType.ts
  src/requesters/OAuthAzureDevOps.requester.ts
  src/requesters/OAuthGithub.requester.ts
  src/requesters/Requester.ts
  src/services/OAuthAzureDevOps.service.ts
  src/services/Service.ts
  src/shared/cache.ts
Labels: dependencies, svelte, component, configuration, javascript, typescript

#131 Feat/update
  package-lock.json
  package.json
  public/preload.js
  src/App.svelte
  src/components/Fieldset/Fieldset.svelte
  src/components/Modale/Modale.svelte
  src/components/Settings/Settings.svelte
  src/components/icons/Logo.svelte
  src/components/icons/index.ts
  src/electron/OAuthWindow.ts
  src/electron/electron.ts
  src/mappers/PullRequest.mapper.ts
  src/models/skizzle/SettingsType.ts
  src/shared/remote.ts
  src/shared/stores/default.store.ts
  src/shared/token.ts
  src/window.d.ts
Labels: dependencies, svelte, component, configuration, javascript, typescript

#133 feat: translate app in english
  package-lock.json
  package.json
  src/components/AccountSummary/AccountSummary.svelte
  src/components/CustomListSettings/CustomListSettings.svelte
  src/components/ErrorBoundary/ErrorBoundary.svelte
  src/components/FollowedRepositories/FollowedRepositories.svelte
  src/components/ImportExport/ImportExport.svelte
  src/components/Main/Main.svelte
  src/components/Modale/Modale.svelte
  src/components/Navigation/Navigation.svelte
  src/components/ProviderAccount/ProviderAccount.svelte
  src/components/Pullrequest/Pullrequest.svelte
  src/components/Search/Search.svelte
  src/components/SearchRepos/SearchRepos.svelte
  src/components/SearchResults/SearchResults.svelte
  src/components/Settings/Settings.svelte
  src/components/Tabs/Tabs.svelte
  src/electron/electron.ts
  src/shared/stores/default.store.ts
  src/shared/token.ts
  src/shared/utils.ts
  src/views/Intro/Intro.svelte
Labels: enhancement, dependencies, svelte, component, typescript

#134 feat(App): clear all storage in application and refresh the web content
  package-lock.json
  package.json
  public/preload.js
  src/components/AccountSummary/AccountSummary.svelte
  src/components/FollowedRepositories/FollowedRepositories.svelte
  src/components/Modale/Modale.svelte
  src/components/Settings/Settings.svelte
  src/components/icons/Trash.svelte
  src/components/icons/index.ts
  src/electron/electron.ts
  src/shared/remote.ts
  src/views/Intro/Intro.svelte
  src/window.d.ts
Labels: dependencies, svelte, component, configuration, javascript, typescript

#136 fix(Update): hide update field when application restart
  CHANGELOG.md
  package.json
  src/components/Settings/Settings.svelte
Labels: documentation, dependencies, svelte, component

#137 refactor: button reusable component
  src/components/Button/Button.svelte
  src/components/Button/index.ts
  src/components/CustomListSettings/CustomListSettings.svelte
  src/components/ImportExport/ImportExport.svelte
  src/components/Settings/Settings.svelte
Labels: component

#138 feat: improve website accessibility
  docs/index.html
  docs/styles.css
Labels: enhancement

#139 Feat/a11y docs
  docs/index.html
  docs/styles.css
Labels: enhancement

#140 fix: export modale scroll
  package.json
  src/components/Button/Button.svelte
  src/components/FollowedRepositories/FollowedRepositories.svelte
  src/components/ImportExport/ImportExport.svelte
Labels: bug, dependencies, svelte, component

#141 Feat/custom list multirepos
  package.json
  src/components/Checkbox/Checkbox.svelte
  src/components/Checkbox/index.ts
  src/components/CustomListSettings/CustomListSettings.svelte
  src/components/Main/Main.svelte
  src/components/MultiSelector/MultiSelector.svelte
  src/components/MultiSelector/index.ts
  src/components/Radio/Radio.svelte
  src/components/Radio/index.ts
  src/components/TagInput/TagInput.svelte
  src/components/TagInput/index.ts
  src/components/icons/Check.svelte
  src/components/icons/Delete.svelte
  src/models/skizzle/CustomListType.ts
  src/shared/utils.ts
Labels: enhancement, dependencies, svelte, component, typescript

#142 Refactor/clean code
  package.json
  src/components/Accounts/Accounts.svelte
  src/components/Avatar/Avatar.svelte
  src/components/Confirmation/Confirmation.svelte
  src/components/Confirmation/index.ts
  src/components/CustomListSettings/CustomListSettings.svelte
  src/components/ErrorBoundary/ErrorBoundary.svelte
  src/components/FollowedRepositories/FollowedRepositories.svelte
  src/components/ImportExport/ImportExport.svelte
  src/components/Main/Main.svelte
  src/components/Modale/Modale.svelte
  src/components/Pullrequest/Pullrequest.svelte
  src/components/Settings/Settings.svelte
  src/components/Tabs/Tabs.svelte
  src/views/Intro/Intro.svelte
Labels: bug, enhancement, dependencies, svelte, component, typescript
